[submodule "submods/UpsTrack"]
	path = submods/UpsTrack
	url = https://github.com/Synergex/UpsTrack.git
[submodule "submods/ISAMutils"]
	path = submods/ISAMutils
	url = https://github.com/Synergex/ISAMutils.git
[submodule "submods/Convert.ToBase64String"]
	path = submods/Convert.ToBase64String
	url = https://github.com/Synergex/Convert.ToBase64String.git
[submodule "submods/WpfDeviceLicense"]
	path = submods/WpfDeviceLicense
	url = https://github.com/Synergex/WpfDeviceLicense.git
[submodule "submods/SMTPmail.dbl"]
	path = submods/SMTPmail.dbl
	url = https://github.com/Synergex/SMTPmail.dbl.git
[submodule "submods/PDFKit15f"]
	path = submods/PDFKit15f
	url = https://github.com/Synergex/PDFKit15f.git
[submodule "submods/Files_for_synbackup_for_UNIX"]
	path = submods/Files_for_synbackup_for_UNIX
	url = https://github.com/Synergex/Files_for_synbackup_for_UNIX.git
[submodule "submods/Parser"]
	path = submods/Parser
	url = https://github.com/Synergex/Parser.git
[submodule "submods/MESSAGE_BOX"]
	path = submods/MESSAGE_BOX
	url = https://github.com/Synergex/MESSAGE_BOX.git
[submodule "submods/DATE_PICKER"]
	path = submods/DATE_PICKER
	url = https://github.com/Synergex/DATE_PICKER.git
[submodule "submods/XML_to_Synergy_DBMS"]
	path = submods/XML_to_Synergy_DBMS
	url = https://github.com/Synergex/XML_to_Synergy_DBMS.git
[submodule "submods/Licensing_TK_Examples"]
	path = submods/Licensing_TK_Examples
	url = https://github.com/Synergex/Licensing_TK_Examples.git
