[submodule "submods/UpsTrack"]
	path = submods/UpsTrack
	url = https://github.com/Synergex/UpsTrack.git
[submodule "submods/ISAMutils"]
	path = submods/ISAMutils
	url = https://github.com/Synergex/ISAMutils.git
[submodule "submods/Convert.ToBase64String"]
	path = submods/Convert.ToBase64String
	url = https://github.com/Synergex/Convert.ToBase64String.git
[submodule "submods/WpfDeviceLicense"]
	path = submods/WpfDeviceLicense
	url = https://github.com/Synergex/WpfDeviceLicense.git
[submodule "submods/SMTPmail.dbl"]
	path = submods/SMTPmail.dbl
	url = https://github.com/Synergex/SMTPmail.dbl.git
[submodule "submods/PDFKit15f"]
	path = submods/PDFKit15f
	url = https://github.com/Synergex/PDFKit15f.git
[submodule "submods/Files_for_synbackup_for_UNIX"]
	path = submods/Files_for_synbackup_for_UNIX
	url = https://github.com/Synergex/Files_for_synbackup_for_UNIX.git
[submodule "submods/Parser"]
	path = submods/Parser
	url = https://github.com/Synergex/Parser.git
[submodule "submods/MESSAGE_BOX"]
	path = submods/MESSAGE_BOX
	url = https://github.com/Synergex/MESSAGE_BOX.git
[submodule "submods/DATE_PICKER"]
	path = submods/DATE_PICKER
	url = https://github.com/Synergex/DATE_PICKER.git
[submodule "submods/XML_to_Synergy_DBMS"]
	path = submods/XML_to_Synergy_DBMS
	url = https://github.com/Synergex/XML_to_Synergy_DBMS.git
[submodule "submods/Licensing_TK_Examples"]
	path = submods/Licensing_TK_Examples
	url = https://github.com/Synergex/Licensing_TK_Examples.git
[submodule "submods/SynNETService"]
	path = submods/SynNETService
	url = https://github.com/Synergex/SynNETService.git

[submodule "submods/Inline_Lambdas"]
	path = submods/Inline_Lambdas
	url = https://github.com/Synergex/Inline_Lambdas.git
[submodule "submods/YieldExample"]
	path = submods/YieldExample
	url = https://github.com/Synergex/YieldExample.git
[submodule "submods/ArrayList_Example"]
	path = submods/ArrayList_Example
	url = https://github.com/Synergex/ArrayList_Example.git
[submodule "submods/ismkey_DD_FILESPEC"]
	path = submods/ismkey_DD_FILESPEC
	url = https://github.com/Synergex/ismkey_DD_FILESPEC.git
[submodule "submods/SynServMon"]
	path = submods/SynServMon
	url = https://github.com/Synergex/SynServMon.git
[submodule "submods/ConsoleApplication2"]
	path = submods/ConsoleApplication2
	url = https://github.com/Synergex/ConsoleApplication2.git
[submodule "submods/ExtensionMethod"]
	path = submods/ExtensionMethod
	url = https://github.com/Synergex/ExtensionMethod.git
[submodule "submods/SynNetWcf"]
	path = submods/SynNetWcf
	url = https://github.com/Synergex/SynNetWcf.git
[submodule "submods/ScheduledTask"]
	path = submods/ScheduledTask
	url = https://github.com/Synergex/ScheduledTask.git
[submodule "submods/ClipBoard"]
	path = submods/ClipBoard
	url = https://github.com/Synergex/ClipBoard.git
[submodule "submods/SynNetAspAppDomainOnlyInterop"]
	path = submods/SynNetAspAppDomainOnlyInterop
	url = https://github.com/Synergex/SynNetAspAppDomainOnlyInterop.git
[submodule "submods/SynNetAspAppDomainOnly"]
	path = submods/SynNetAspAppDomainOnly
	url = https://github.com/Synergex/SynNetAspAppDomainOnly.git
[submodule "submods/SynNetAsp"]
	path = submods/SynNetAsp
	url = https://github.com/Synergex/SynNetAsp.git
[submodule "submods/synd"]
	path = submods/synd
	url = https://github.com/Synergex/synd.git
[submodule "submods/FILE_LOCKS"]
	path = submods/FILE_LOCKS
	url = https://github.com/Synergex/FILE_LOCKS.git
[submodule "submods/LmkEvalDate"]
	path = submods/LmkEvalDate
	url = https://github.com/Synergex/LmkEvalDate.git
[submodule "submods/Creating_PDF_Documents_with_Synergy_tutorial"]
	path = submods/Creating_PDF_Documents_with_Synergy_tutorial
	url = https://github.com/Synergex/Creating_PDF_Documents_with_Synergy_tutorial.git
[submodule "submods/Examine_Win_Reg_from_Synergy"]
	path = submods/Examine_Win_Reg_from_Synergy
	url = https://github.com/Synergex/Examine_Win_Reg_from_Synergy.git
[submodule "submods/GoogleGeocoding"]
	path = submods/GoogleGeocoding
	url = https://github.com/Synergex/GoogleGeocoding.git
[submodule "submods/SynPSG.System"]
	path = submods/SynPSG.System
	url = https://github.com/Synergex/SynPSG.System.git
[submodule "submods/FtpClient"]
	path = submods/FtpClient
	url = https://github.com/Synergex/FtpClient.git
[submodule "submods/c_pgm_calling_dbl_pgm"]
	path = submods/c_pgm_calling_dbl_pgm
	url = https://github.com/Synergex/c_pgm_calling_dbl_pgm.git
[submodule "submods/createDoc"]
	path = submods/createDoc
	url = https://github.com/Synergex/createDoc.git
[submodule "submods/ClientServerExamples"]
	path = submods/ClientServerExamples
	url = https://github.com/Synergex/ClientServerExamples.git
[submodule "submods/SynNetMailDemo"]
	path = submods/SynNetMailDemo
	url = https://github.com/Synergex/SynNetMailDemo.git
[submodule "submods/InteropTestWcfSelfHost"]
	path = submods/InteropTestWcfSelfHost
	url = https://github.com/Synergex/InteropTestWcfSelfHost.git
[submodule "submods/WpfSplashScreen"]
	path = submods/WpfSplashScreen
	url = https://github.com/Synergex/WpfSplashScreen.git
[submodule "submods/InteropWcfWebHost"]
	path = submods/InteropWcfWebHost
	url = https://github.com/Synergex/InteropWcfWebHost.git
[submodule "submods/CodeExchangeVS"]
	path = submods/CodeExchangeVS
	url = https://github.com/Synergex/CodeExchangeVS.git
[submodule "submods/SynPsg.RPS"]
	path = submods/SynPsg.RPS
	url = https://github.com/Synergex/SynPsg.RPS.git
[submodule "submods/US_Postal_Service"]
	path = submods/US_Postal_Service
	url = https://github.com/Synergex/US_Postal_Service.git
[submodule "submods/RPSXML"]
	path = submods/RPSXML
	url = https://github.com/Synergex/RPSXML.git
[submodule "submods/URL_Encoding"]
	path = submods/URL_Encoding
	url = https://github.com/Synergex/URL_Encoding.git
[submodule "submods/xfNetLink_Example"]
	path = submods/xfNetLink_Example
	url = https://github.com/Synergex/xfNetLink_Example.git
[submodule "submods/xfServerPlus_ini"]
	path = submods/xfServerPlus_ini
	url = https://github.com/Synergex/xfServerPlus_ini.git
[submodule "submods/windir"]
	path = submods/windir
	url = https://github.com/Synergex/windir.git
[submodule "submods/ISAM_File_parameters"]
	path = submods/ISAM_File_parameters
	url = https://github.com/Synergex/ISAM_File_parameters.git
[submodule "submods/SocketExamples"]
	path = submods/SocketExamples
	url = https://github.com/Synergex/SocketExamples.git
[submodule "submods/HTTP_QUERY_STRING"]
	path = submods/HTTP_QUERY_STRING
	url = https://github.com/Synergex/HTTP_QUERY_STRING.git
