[submodule "submods/UpsTrack"]
	path = submods/UpsTrack
	url = https://github.com/Synergex/UpsTrack.git
[submodule "submods/ISAMutils"]
	path = submods/ISAMutils
	url = https://github.com/Synergex/ISAMutils.git
[submodule "submods/Convert.ToBase64String"]
	path = submods/Convert.ToBase64String
	url = https://github.com/Synergex/Convert.ToBase64String.git
